html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin:0;
padding:0;
}
a img{border:0}
img {
/*vertical-align:middle;*/
}
.w{margin:0 auto;width:1200px;clear:both;}

.left {float:left;margin-right:6px;width:211px;}
.right {float:right;}
.m_cnt{width:980px}

.clr{clear:both;display:block;}
.bg0{
background:#F3F3F3 none repeat scroll 0 0;
border:1px solid #D0D0D0;padding:10px
}
.menu li{
display:inline;
width:30%;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
float:left;
}
.position{padding:10px 0}
.goods_pic .detail {
height:320px;
width:200px;overflow:hidden;
}
#top_table{
float:left;
padding-top: 40px;
width:660px;
}
.top_div{
align:center;margin:auto;
}
.top_div_logo{
float:left;
width:325px
}
.top_div_top_menu{float:right;}
.logo{
float:left
}

.childCategorys{
margin:0 0 20px 0px;overflow:hidden;text-align:center;
}
.childCategorys img{
width:110px;height:110px
}
.childCategoryImage{}
.childCategoryDescription{}
.childCategoryName{}
.childCategory{float:left;width:33%;overflow:hidden;}
.main_content{overflow:hidden;}
.menu_ul li{
list-style-type:none;
float:left;margin:10px;
}
.head_hr{
clear:both;border:1px solid #D0D0D0;
}
.menu_ul{
float:left;
overflow:hidden;
}
.logintd{width:400px}
.regtd{width:400px}

.lavaLampWithImage {
position: relative;
height: 29px;
width: 421px;
background: url("../../../images/bg2.gif") no-repeat top;
padding: 15px;
margin: 0px;
overflow: hidden;
float:right
}

.lavaLampWithImage li {
	float: left;
	list-style: none;
	
	overflow:hidden
}
.lavaLampWithImage li a {
font: bold 14px arial;
text-decoration: none;
color: #fff;
outline: none;
text-align: center;
top: 7px;
text-transform: uppercase;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
height: 30px;
position: relative;
overflow: hidden;
margin: auto 10px;    
}

.m {
margin-bottom:10px;
}

.m, .mt, .mc, .mb {
overflow:hidden;
}
.price {
color:#990000;font-family:verdana,arial,helvetica,sans-serif;
}
.h1{color:#CC6600;font-size:14px;
font-weight:bold;}
.filter dl{clear:both;
display:block;padding:5px 0;
}
.filter a{padding:3px 4px 3px 4px;margin:10px;line-height:25px;}
.filter .this{color:#FFFFFF;background:#4598D2 none repeat scroll 0 0;}
.filter a.this:visited{color:#FFFFFF;}
.filter dt {
float:left;
font-weight:bold;
line-height:25px;
text-align:right;
width:100px;
}
.filter dd{float:right;
text-align:left;
width:880px;}
.lavaLampWithImage a{color:#ffffff;text-decoration:none}
.lavaLampWithImage a:link{color:#ffffff}
.lavaLampWithImage a:visited{color:#ffffff}
.lavaLampWithImage a:active{color:#ffffff}
.lavaLampWithImage a:hover{color:#ffffff;text-decoration:none}
#sortlist .mc {
border-color:#E6E6E6;
border-style:solid;
border-width:0 1px 1px;
}
#sortlist ul {
overflow:hidden;
padding:6px 0 6px 6px;
}
#sortlist li {
/*float:left;width:95px;*/
height:18px;
overflow:hidden;
padding:3px 6px 3px 0;

}
#sortlist a:link,#sortlist a:visited {
color:#333333;
text-decoration:none;
}
#sortlist a:hover {
color:#CC0000;
text-decoration:underline;
}
#sortlist h2 {
color:#FFFFFF;
}
.left h2 {
font-size:12px;
}
#recent .mt,#recommend .mt {
background:#E6E6E6 url(../../../images/bg_tit_home.gif) repeat-x scroll 0 -60px;
height:24px;
line-height:24px;
padding:3px 8px;
}
#recent .mc ,#recommend .mc{
border-color:#E6E6E6;
border-style:solid;
border-width:0 1px 1px;
padding:0 1px;
}
#select {
border-top:2px solid #EED97C;
}
#select h1 {
color:#CC3300;
float:left;
font-size:14px;
height:28px;
line-height:28px;
}
#select strong {
color:#CC3300;
float:left;
font-size:14px;line-height:28px;
}
#recent li {
background:transparent url(../../../images/bg_tit_home.gif) repeat-x scroll 0 -597px;
overflow:hidden;
padding:5px 0;height:57px;
}
#recent .p-img {
float:left;
width:50px;height:50px;overflow:hidden;
padding:2px 5px 2px 0;
}
.p-img {
margin:5px 0;
}

.p-name {
height:45px;
word-wrap:break-word;float:left
}
#recent .p-name {
margin-top:10px;
width:140px;overflow:hidden
}
.p-img, .p-name, .p-price, .p-market {
overflow:hidden;
}
.p-img img{width:50px;height:50px}
#service {
border:1px solid #E6E6E6;
margin-bottom:10px;
overflow:hidden;
padding:20px 20px 10px;
}
#service dl {
float:left;
padding-left:20px;
width:210px;
}
#service dt strong {
border-bottom:1px solid #E5E5E5;
display:block;
padding:8px 0 2px;
}
#service .fore1 dd {
padding-left:18px;
}

#service dd {
padding:5px 0 20px;
}
#service a:hover,#service a:active {
color:#FF3300;
text-decoration:underline;
}

#service a:link,#service a:visited {
color:#222222;
}

#service a {
text-decoration:none;
}
.footerlink a{
padding:10px
}
.footerlink {text-align:center;width:100%}
.m{
	-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
font-size:14px;
padding:2px 3px;
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
border-color:rgba(82, 168, 236, 0.75);
}