html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
margin:0;
padding:0;
}
a {
/*color:#0000FF;*/
text-decoration:none;
}
.main .left *{margin:0}
.detail a img{  border:1px solid #E5E5E5; padding:5px}
.list{width:100%}
.detail a:hover img{ border:1px solid #0066FF}
.an_img a img{border:0px}
.an_img a:hover img{ border:0px}
.browse_right .goods_pic .detail {margin-bottom:10px;
}
.browse_right .goods_pic .detail h2{height:32px;
overflow:hidden;}
A:link {
	/*COLOR: #0041d3;*/ TEXT-DECORATION: none
}
A:visited {
	COLOR: #0041d3; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
EM {
	COLOR: #ff7100; FONT-STYLE: normal
}
#position {margin-bottom:20px;
	padding:20px 0 0 10px; HEIGHT: 30px;/* width:971px;*/margin-left: 0px;clear:bold;margin-top:10px;background:#F3F3F3 none repeat scroll 0 0;
border:1px solid #D0D0D0;
}
#position a{
text-decoration:none;
}
.browse_left {
	WIDTH: 210px;PADDING: 0 auto;margin:0 auto;float:left;clear:bold;
}
.browse_left .browse {
	float:left;BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 210px; BORDER-BOTTOM: #c5c5c5 1px solid; BACKGROUND-COLOR: #f1f8ff
}

.browse_left .productcatalog {
	MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px;WIDTH: 190px;
}

.browse_left .browse .browse_t {
	background:#F3F3BA none repeat scroll 0 0;padding:10px;border:1px solid #FFFFFF;
	/*PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_1.gif) repeat-x; PADDING-BOTTOM: 0px; WIDTH: 180px; PADDING-TOP: 5px; HEIGHT: 17px
	*/
}
.browse_left .browse H2 {
	margin: 0px 0px 0 0px;PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 13px
}
.browse_left .browse H2 .gray {
	COLOR: #909090
}
.browse_left .browse ul{margin: 0px 0px 0 0px;list-style-type:none; padding:5px 0 0 0;}
.browse_left .browse ul li{ padding:0px; display:block;border-top:1px solid #FEE0BF;display:block;line-height:150%;}
.browse_left .browse ul li a{ padding-left:10px;display:block;padding-bottom:5px;padding-left:20px;padding-top:5px;width:190px}
.browse_left .browse ul li a:hover{ background:#d7e6f6;color:#A72D2C;
text-decoration:underline;font-weight:bold}
.browse_left .browse ul li img{ width:108px; height:19px; margin:5px 0 0 7px;}
.browse_left .browse ul .bj_blue{ background:url(../../../images/global/bj_blue.gif) no-repeat 10px 10px;}
.browse_left .browse ul .bj_red{ background:url(../../../images/global/bj_red.gif) no-repeat 10px 10px;}
.browse_left .browse ul .kk{ font-weight:bold; color:#ff7100;}

.browse_right {
	/*PADDING-LEFT: 15px; FLOAT: right; PADDING-BOTTOM: 30px; */PADDING-TOP: 0px;/*margin-right: 10px;width:760px;*/width:100%;float:left;
	margin:auto;
}
.browse_right .sorry_nopage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 280px; FONT-SIZE: 14px; BACKGROUND:#FFFFFF url(../../../images/global/sorry.jpg) no-repeat 148px 62px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 90px; HEIGHT: 110px
}
.browse_right .select_reorder {
	PADDING-RIGHT: 15px; BORDER-TOP: #91aac2 1px solid; PADDING-LEFT: 15px;
	/*BACKGROUND: url(/images/global/bj_2.gif) repeat-x;*/ PADDING-BOTTOM: 0px; 
	PADDING-TOP: 3px; background:#F3F3F3 none repeat scroll 0 0;position:relative;/*height:100%*/clear:both
}
.browse_right .select_reorder .reorder_l {
	FLOAT: left; PADDING-TOP: 2px;clear:bold;
}
.browse_right .select_reorder IMG {
	/*BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; WIDTH: 16px; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px*/
}
.browse_right .select_reorder .reorder_r {
	FLOAT: right; PADDING-TOP: 2px
}
.browse_right .number {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; HEIGHT: 18px; 
	BACKGROUND-COLOR: #E0E9ED;position:relative;
}
.browse_right .number .number_l {
	FLOAT: left
}
.browse_right .number .number_l .number_white {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 5px; COLOR: #ff7100; PADDING-TOP: 3px; HEIGHT: 15px; BACKGROUND-COLOR: #fff
}
.browse_right .number .number_r {
	FLOAT: right; WIDTH: 109px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
.browse_right .number .number_r .number_list {
	FLOAT: left; WIDTH: 40px
}
.browse_right .number .number_r IMG {
	FLOAT: left; MARGIN-LEFT: 3px
}
.turnpage {
	PADDING-RIGHT: 10px; FLOAT: right; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff;
}
.turnpage DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.turnpage .kuang {
	BORDER-RIGHT: #919191 1px solid; BORDER-TOP: #919191 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #919191 1px solid; WIDTH: 38px; BORDER-BOTTOM: #919191 1px solid; HEIGHT: 20px
}
.turnpage .page {
	font-size:14px;
}
.turnpage .ok {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../../../images/global/ok.gif) no-repeat; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 43px; CURSOR: hand; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
.turnpage .red {
	BACKGROUND: #ff7100; MARGIN: 0px 2px; WIDTH: 8px; COLOR: #fff; HEIGHT: 12px; TEXT-ALIGN: center
}
.turnpage EM {
	COLOR: #ff7100; FONT-STYLE: normal
}
.turnpage .line A:link {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.turnpage .line A:visited {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.turnpage .line A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.turnpage .line A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.browse_right .goodslist {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #c9c9c9 1px solid
}
.browse_right .goodslist .goods {
	BORDER-RIGHT: #c9c9c9 0px solid; BORDER-TOP: #c9c9c9 0px solid; DISPLAY: block; FLOAT: left; BORDER-LEFT: #c9c9c9 0px solid; WIDTH: 140px; MARGIN-RIGHT: 20px; BORDER-BOTTOM: #c9c9c9 0px solid; HEIGHT: 168px
}
.browse_right .goodslist .goods_right {
	DISPLAY: block; PADDING-BOTTOM: 3px;
}
.browse_right .goodslist .goods_right H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px;margin:15px 0 10px 0;
}
.browse_right .goodslist .goods_right H2 .size_h {
	FONT-SIZE: 12px
}
.browse_right .goodslist .goods_right .message {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 12px
}
.browse_right .goodslist .goods_right .message UL {
	FLOAT: left; MARGIN: 0 0 0 0;  LIST-STYLE-TYPE: none
}
.browse_right .goodslist .goods_right .message LI {
	FLOAT: left; WIDTH: 170px; WHITE-SPACE: nowrap; HEIGHT: 20px;color:#000000
}

.browse_right .goodslist .goods_right .content {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px;PADDING-RIGHT: 0px; PADDING-LEFT: 0px;
}
.browse_right .goodslist .goods_right .message_bottom {
	HEIGHT: 24px
}
.browse_right .goodslist .goods_right .message_bottom .save {
	FLOAT: left; PADDING-TOP: 10px; HEIGHT: 12px
}
.browse_right .goodslist .goods_right .message_bottom .buy {
	FLOAT: right; WIDTH: 215px; TEXT-ALIGN: right
}
.browse_right .goodslist .goods_right .message_bottom .buy IMG {
	MARGIN-LEFT: 10px
}
.browse_right .goodslist .empty_box {
	CLEAR: both
}
.browse_right .page_number {
	PADDING-TOP: 15px; HEIGHT: 15px
}
.browse_right .table_goods {
	MARGIN-TOP: 15px; WIDTH: 100%; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
.browse_right .table_goods TD {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 12px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #c9c9c9 1px solid
}
.browse_right .table_goods .tdleft {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 12px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #c9c9c9 1px solid; TEXT-ALIGN: left
}
.browse_right .table_goods .tabl_top1 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../../../images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 30%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top2 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../../../images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 25%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top3 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../../../images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 20%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top4 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../../../images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 13%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top5 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../../../images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 7%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top6 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../../../images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 5%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .t {
	FONT-WEIGHT: bold; COLOR: #ff7100; TEXT-ALIGN: right
}
.browse_right .table_goods .t .t_1 {
	FONT-WEIGHT: normal; COLOR: #acacac; TEXT-DECORATION: line-through
}
.browse_right .table_goods .t2 P {
	PADDING-TOP: 5px
}
.browse_right .table_goods .t2 A {
	COLOR: #898989; TEXT-DECORATION: underline
}
.browse_right .table_goods .t2 A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.browse_right .table_goods .t2 .t_2 A {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.browse_right .table_goods .c_1 {
	BACKGROUND: #f6faff; CURSOR: hand
}
.browse_right .table_goods .c_2 {
	BACKGROUND: #fff; CURSOR: hand
}
.browse_right .goods_pic {background:#FFFFFF none repeat scroll 0 0;padding:18px 0 0;
}
.browse_right .goods_pic .detail {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px;/* WIDTH: 200px;*/ PADDING-TOP: 0px; TEXT-ALIGN: center
}
.browse_right .goods_pic .detail .goods {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;BORDER-RIGHT: #c9c9c9 0px solid; BORDER-TOP: #c9c9c9 0px solid; DISPLAY: block; BORDER-LEFT: #c9c9c9 0px solid; WIDTH: 140px; BORDER-BOTTOM: #c9c9c9 0px solid; HEIGHT: 168px; TEXT-ALIGN: center;
}
.browse_right .goods_pic .detail H2 {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-TOP: 6px;margin:0 0 0 0;
}
.browse_right .goods_pic .detail .save_number {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.browse_right .goods_pic .detail .an_img {
	HEIGHT: 25px;
}
.browse_right .goods_pic .detail .an_img .a_1 {
	WIDTH: 84px; MARGIN-RIGHT: 12px; HEIGHT: 24px
}
.browse_right .goods_pic .emptybox {
	CLEAR: left
}
.browse_right .select_reorder .emptybox {
	CLEAR: left;border-bottom:1px dashed #CCCCCC !important;padding-bottom:10px
}

.browse_right .SubCategoryBox {
	position:relative;
	padding-bottom: 5px;
	width: 100%;
	clear:both;border-bottom:1px dashed #CCCCCC !important;
margin-bottom:5px;
overflow:hidden;
}

.select_reorder a:active{color:#3366CC}
.select_reorder a:hover{color:#FF5500}
.browse_right .SubCategoryBox .FindByHint{
	clear:both;
	height:20px;
	line-height:20px;
	text-indent:18px;
	margin-top: 5px;
	background:transparent url(../../../images/global/icon_arrow_rb.gif) left top no-repeat;
}

.browse_right .SubCategoryBox ul.CategoryListTableLevel1{
	position:relative;
	clear:both;
	height:15px;
	display:block;
	margin:0 ;
	padding:0 0 0 30px;
	list-style:none;
}
.browse_right .SubCategoryBox ul.CategoryListTableLevel1 li{
	float:left;
	width:85px;
	margin:4px 0;
	white-space: nowrap;
}
.browse_right .SubCategoryBox ul.CategoryListTableLevel1 li A.red{
	COLOR: #0239B9;FONT-WEIGHT: bold;
}
.browse_right .brand {
	position:relative;
	padding-bottom: 5px;
	width: 100%;
	clear:both;
}
.browse_right .brand .FindByHint{
	clear:both;
	height:20px;
	line-height:20px;
	text-indent:18px;
	margin-top: 5px;
	background:transparent url(../../../images/global/icon_arrow_rb.gif) left top no-repeat;
}
.browse_right .brand ul.CategoryListTableLevel1{
	position:relative;
	clear:both;
	display:block;
	margin:0;
	padding:0 0 0 30px;
	list-style:none;
}
.browse_right .brand ul.CategoryListTableLevel1 li{
	float:left;
	width:150px;
	margin:4px 0;
	white-space: nowrap;
}
.browse_right .brand ul.CategoryListTableLevel1 li A.red{
	COLOR: #0239B9;FONT-WEIGHT: bold;
}
.browse_left li{
list-style-type:none;
margin:auto;
/*text-align:center;*/
width:100%;
}
.productdetail li{
list-style-type:none;margin-top:10px;font-size:14px;color:#666666;
}
.productImage{
/*width:200px;height:200px*/border:0 none;
max-height:200px;
max-width:300px;
}
.tsearch-panel {
	clear:both;margin:10px;
background:#F3F3F3 none repeat scroll 0 0;
/*border:1px solid #D0D0D0;*/
height:40px;
margin-top:-1px;
position:relative;
padding-top:5px;
padding-left:2px;
}
.tsearch-panel-fields #q {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:0 none;
color:#333333;
font-family:verdana,tahoma,arial,sans-serif;
font-size:14px;
height:18px;
left:0;
line-height:18px;
padding:6px 4px;
position:absolute;
top:0;
width:300px;
}

.tsearch-panel-fields {
background-color:#FFFFFF;
background-position:0 0;
border-color:#9B9F9F;
border-style:solid;
border-width:1px 0 1px 1px;
float:right;
height:30px;
position:relative;
width:450px;
}
.tsearch-panel-fields button {
background-color:#F68911;
color:#FFFFFF;font-size:14px;
font-weight:bold;
border:0 none;
cursor:pointer;
float:right;
height:30px;
padding:0;

width:140px;
}
.product-images{
float:left;
margin:10px 0 5px;
overflow:hidden;
text-align:center;
width:300px;
}
.product-info{
float:left
}
.product-description{
clear:both
}
.product-images .min-images img{
width:40px;
height:40px;
}
.product-images .min-images a img{
border:1px solid #D0D0D0;
padding:3px;
background:transparent url(../../../images/global/loading_img.gif) no-repeat scroll center center;
/*float:left;
display:block;*/
}
.product-images .min-images a img:hover{
border:1px solid #CC6600;

}
.product-name h1{
display:inline;
font-family:arial;
font-size:16px;
}
.product-name{text-align:center;}
.product-price{
font-weight:bold;color:#AA0000;font-size:16px;
}
.right_img{
	margin-left:50px;
}
.detail .productImage{width:140px;height:168px}
.main-image{height:200px;width:300px;overflow:hidden;margin:auto}
.main-image .productImage{min-width:140px;min-height:168px}

.righttd{
	padding:0 0 0 10px;width: 100%;vertical-align:top;
}
.this a{color:#990000 !important;font-weight:bold;background:#ffffff !important}
.thisLink{border:1px solid #CAC1BC;background:#E7E4E1 none repeat scroll 0 0;font-weight:bold}
.pagesplit a{
border:1px solid #CAC1BC;
line-height:14px;
margin:0 2px;
padding:3px 6px;text-decoration:none !important
}

.pagesplit a,.pagesplit a:link,.pagesplit a:visited {
color:#634A3B;
}
.pagesplit a:hover{background:#72b2da;color:#ffffff}
.pagesplit{display:block;float:right;padding-right:20px;line-height:30px}
.goods_pic{clear:both}
.commentdetails{width:80%}

.sorry_nopage{clear:both;
display:block;background:transparent url(../../../images/global/error_icon.jpg) no-repeat scroll 148px 0;
height:150px;
padding:30px 0 0 280px;
width:390px;}
/*.sourceImage{width:300px;height:300px}*/
.imagemodule{border:1px solid #eee;border-right:0}
.imagemodule td{border-color:#EEEEEE;
border-style:none solid solid none;
border-width:0 1px 1px 0 ;}
.imagemodule  .noborder{border:0}
.imagemodule td{padding-left:10px;}
.imagemodule .detailtd{padding-left:10px;line-height:18px;}
#order .item{height:24px;
line-height:24px;width:60px;
padding:3px 0 0 30px;float:left}
#order ul{padding:0 5px;list-style-image:none;
list-style-position:outside;
list-style-type:none;}
#order li{
height:27px;
margin-right:3px;
overflow:hidden;
position:relative;cursor:pointer;
float:left;
text-align:center;
border:1px solid #ffd794;border-bottom:0
}
#order li.curr{
background:#d66110
}
#order li.curr a{
color:#fff
}
.extra{text-align:right;clear:both;border-top:2px solid #BE0000;
color:#CC3300;
height:29px;
line-height:28px;
overflow:hidden;
padding:0 10px 0 0;
text-align:right;}
#order li a{
color:#CC3300;
display:block;
float:left;
font-size:14px;
font-weight:bold;
height:24px;
line-height:24px;
padding:3px 15px 0;
position:relative;
z-index:2;
}

.list_image ul{
margin-left:5px;
overflow:hidden;
padding:0 0 0 12px;
}
.list_image ul li{
float:left;
}
ul, li {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
.list_image{
overflow:hidden;
}
.list_image .des{
overflow:hidden;
padding:30px 46px 0 10px;
width:500px;
}
.list_image .price{
	overflow:hidden;
padding:30px 0 0 0;
}
.list_image .image img{
width:100px;
height:110px
}
.showmode{float:left}
#showmode ul{padding:0 5px;list-style-image:none;
list-style-position:outside;
list-style-type:none;}
#showmode li{
	
height:27px;
margin-right:3px;
overflow:hidden;
position:relative;cursor:pointer;
float:left;
text-align:center;
border:1px solid #ffd794;border-bottom:0
}
#showmode li.curr{
background:#d66110
}
#showmode li.curr a{
color:#fff
}
#showmode .item,#order .item{color:#000}
#showmode .item{height:24px;width:60px;
line-height:24px;
padding:3px 0 0 30px;float:left}
#showmode li a{
color:#CC3300;
display:block;
float:left;
font-size:14px;
font-weight:bold;
height:24px;
line-height:24px;
padding:3px 15px 0;
position:relative;
z-index:2;
}
#sortlist .mt{
	background:#E6E6E6 url(../../../images/bg_tit_home.gif) no-repeat scroll 0 -520px;
height:28px;
line-height:28px;
text-align:center;}
.mt h1{
color:#CC3300;
float:left;
font-size:14px;
height:28px;
line-height:28px;margin:0;
padding:0;
}
.mt strong {
color:#CC3300;
float:left;
font-size:14px;
}
.text{
border:1px solid #BBBBBB;
font-family:arial;
font-size:14px;
height:16px;
padding:4px 3px;
width:240px;
}
.highlight {
border:1px solid #EFA100;
outline-color:#FFDC97;
outline-style:solid;
outline-width:2px;
}
.OkMsg{
border:1px solid #FF6600;
color:#000000;
padding:5px 5px 5px 25px;
}
.checking{
padding-left:30px;
background:transparent url(../../../images/global/loading_img.gif) no-repeat scroll -30px -35px;
}
.error{
background-color:#FFF2F2;
border:1px solid #FF8080;
overflow:hidden;
width:300px;
color:#404040;
line-height:25px;
padding:2px 10px 2px 28px;margin:5px 0 0;
}
#address-collection .hover{
background:#e1ebf7
}
#address-collection .selected{
background:#c6d9f0
}
#address-collection li{
font-size:14px;
line-height:28px;
padding:0px
}
.delivertable{
width:880px;
}
#address-collection .buyer-name {
padding-right:15px;
}
/*
#frontOrderForm td {
vertical-align:bottom;
}
td {
vertical-align:top;
}*/
div#Content {
margin-bottom:25px;
position:relative;
text-align:left;
}

#Content {
clear:both;
margin:5px auto;
padding:0;
text-align:left;
width:740px;
}

#content {
clear:both;
margin-bottom:10px;
margin-top:10px;
}

#content h1 {
background:#DFE8F6 none repeat scroll 0 0;
border:1px solid #B7CCEB;
border-top:0;
display:block;
height:39px;
margin:0;
padding:0;
text-indent:20px;
clear:both;
font-family:arial,sans-serif;
font-size:16px;
line-height:40px;

}
#content #FreTopBox {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../../images/global/top.gif) no-repeat scroll left top;
font-size:0;
height:5px;
line-height:0;
width:100%;
}
#content h1 span,#content h2 span{
color:#999999;
font-size:12px;
font-weight:normal;
position:static;
}
#content h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:medium none;
font-size:14px;
margin:8px 0 0;
}
#content #FreContent {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F2F6FC none repeat scroll 0 0;
border-left:1px solid #B7CCEB;
border-right:1px solid #B7CCEB;
height:auto !important;
min-height:200px;
padding:8px;
}
.AddFreight{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-box-shadow:0 4px 4px #CECECE;
margin:0 0 6px 0px;
min-height:50px;
width:700px;border:1px solid #CECECE;
padding:5px;
}
#areas li{
width:22%;float:left
}
div.location span {
float:right;
}
div.location{position:absolute;width:600px;border:1px solid #B7CCEB;;background:#ffffff;padding:10px 20px 20px;}
#ordArea textarea{font-size:12px;
height:30px;
width:285px;}
#ordArea ol{
	margin-left: -30px;
}
#FreBottomBox{
background:transparent url(../../../images/global/bottom.gif) no-repeat scroll left bottom;
clear:both;
font-size:0;
height:5px;
line-height:0;
}

#Content hr {
border-bottom:1px solid #FFFFFF;
border-top:1px solid #E4E4E4;
border-width:1px 0;
clear:both;
height:2px;
margin:5px 0;
overflow:hidden;
}
div#Main #AddButton {
position:absolute;
right:20px;
top:15px;
}
div#Main #FreList li table {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-color:-moz-use-text-color #B7CCEB #B7CCEB;
border-style:none solid solid;
border-width:medium 1px 1px;
}
div#Main #FreList li table caption {
margin-left:0;
width:690px;
}
div#Main #FreList li table caption {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../../images/global/top1.gif) no-repeat scroll 0 0;
font-size:12px;
font-weight:bold;
height:27px;
line-height:27px;
text-align:left;
}

div#Main #FreList caption span {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../../images/global/freight_icon.gif) no-repeat scroll 0 6px;
display:block;
float:left;
margin-left:5px;
overflow:hidden;
padding-left:23px;
width:340px;
}
div#Main #FreList li table th {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F5F5F5 none repeat scroll 0 0;
color:#999999;
height:20px;
text-align:center;
}
div#Main #FreList li table td {
border-left:1px solid #F1F1F1;
border-top:1px solid #F1F1F1;
height:20px;
}
div#Main th,div#Main td {
font-size:12px;
font-weight:400;
}
div#Main #FreList .ApplyButton {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../../images/global/add_button.gif) no-repeat scroll left top;
bottom:10px;
float:right;
height:32px;
text-align:center;
width:132px;
}
#FreList li{padding:10px 0}div#Main #FreList .RemarkList {
color:#999999;
padding:15px;
position:relative;
}div#Main #FreList .Remark {
float:left;
height:auto;
width:500px;
}div#Main #FreList .ApplyButton span {
display:none;
height:32px;
width:132px;
}div#Main #FreList caption em {
color:#AAAAAA;
display:block;
float:right;
font-style:normal;
font-weight:normal;
margin-right:5px;
text-align:right;
width:300px;
}
div#Main #FreList li {
display:block;
margin-top:15px;
width:100%;
}div#Main #FreList {
list-style-type:none;
margin:0;
padding:0 0 0 15px;
}
span.enable{
background:transparent url(../../../images/login/standard_msg_ok.gif) no-repeat scroll 0 6px !important;
color:#319E31;
}
span.disable{
	background:transparent url(../../../images/login/standard_msg_error.gif) no-repeat scroll 0 4px !important;
	}
.top10,.hotsell,.recommend{
display:block;
/*border:1px solid #C5C5C5;*/margin-bottom:14px;
}
.top10 .title,.hotsell .title,.recommend .title{
border-bottom:2px solid #BE0000;
color:#990000;
display:block;
font-size:14px;
font-weight:bold;
height:30px;
line-height:28px;
padding-left:20px;
}
.top10 .addedcontainer .image img,.hotsell .addedcontainer .image img,.recommend .addedcontainer .image img{height:130px;
width:120px;}
.top10 .addedcontainer li,.hotsell .addedcontainer li,.recommend .addedcontainer li{float:left;margin-left:20px;
text-align:center;}
.addedcontainer{display:block;text-align:center;}
.clear{clear:both}
.lefthotsell .image img{height:100px;
width:90px;}
.left_category a:link,.left_category a:visited{
color:#0041D3
}/*
.left_category a:visited {
color:#000000;
text-decoration:none;
}*/
.lefthotsell{clear:both;border:1px solid #C5C5C5;}
.lefthotsell .title{
font-weight:bold;text-align:center;color:#CC3300;
line-height:28px;}
.lefthotsell .addedcontainer li{border-top:1px solid #FEE0BF;
display:block;
line-height:150%;
padding-top:10px;}
.searchresult .pimage img{height:168px;width:140px}
.searchresult .goodslist{float:left;width:24%;height:354px}

.logindiv .info{
background-color:#FFF2F2;
border:1px solid #FF8080;
color:#404040;
padding:3px;
}
body{
	background:#FFFFFF none repeat scroll 0 0;
/*color:#414141;*/
/*font-family:Tahoma,Arial,Helvetica,Microsoft YaHei,sans-serif,Simsun;
*/
font-family:Arial,Lucida,Verdana,Helvetica,sans-serif,Helvetica,Microsoft YaHei,Simsun;
font-size:12px;
margin:auto;
}
/*
.filter dd{
display:block;
float:right;
margin:0;
padding:0;
width:860px;
}
.filter dl {
clear:both;
display:block;
}*/
td {
font-size:12px;
line-height:18px;
}
.orderfinish{width:850px;
border:1px solid #006699;
padding:10px;
margin:20px auto;
}

.userorderlist{width:850px}
.userorderlisthead{background:#eeeedd}
.brothers{border:1px solid #cccccc;padding:20px;width:200px;float:right}
.children{border:1px solid #cccccc;padding:20px;width:200px;margin-top:20px;float:right;clear:both}
.topart a{color:#CC6601 !important;}
.topart{color:#CC6601;
font-size:14px;
font-weight:bold;clear:both;margin:10px}
.chart{display:block;clear:both}
.chart li{float:left;padding-left:20px}
.whitelink{color:#999999 !important;}
.whitelink:hover{color:#FF6600 !important;}
.mask{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:0.4;
	background:#999999;
}
.highlightbox{
/*margin:300px auto auto;
width:400px;height:200px;
z-index:100;*/
	position:fixed;
	width:400px;
	height:200px;
	left:30%;
	top:30%;
	
	background:#ffffff;
}
.highlighthead{
	height: 25px;background-color: #0033FF;text-align:right;
	/*position: absolute; height: 20px; width: 100%; z-index: 10001; top: 0px; background-color: #0033FF;*/
}
.thisone{
color:#FF7100;
font-size:14px;
font-weight:bold;
}

.Ptable .tdTitle {
background:#F5FAFE none repeat scroll 0 0;
text-align:right;
width:110px;font-size:12px;
}
.Ptable td {
background:#FFFFFF none repeat scroll 0 0;
padding:2px 5px;
}
.Ptable {
background:#CCCCCC none repeat scroll 0 0;
}
.Ptable th {
padding:5px;}

.show{display:none;/**border:1px solid #CCCCCC;**/}
#con_two_1{display:block;}
.detail .tab{
border-bottom:2px solid #BE0000;
padding-bottom:9px;
height:29px
}
.detail .tab .curr {
color:#FFFFFF;
}

.detail .tab li {
font-size:14px;
font-weight:bold;
height:24px;
line-height:24px;
margin-right:3px;
overflow:hidden;
padding:3px 12px 0;
position:relative;
float:left
}
#content div{/*padding:10px*/}
.detail .tab li{
cursor:pointer;
float:left;
text-align:center;border-color:#FFD794 #FFD794 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;color:#CC3300;
}
.hover{background:#BE0000 none repeat scroll 0 0;border-color:#FFD794 #FFD794 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;}
.hover a{
color:#FFFFFF;
}
.detail .tab li a:hover{
	text-decoration:none}
.main .left {
float:left;
margin-right:10px;
overflow:hidden;
padding-bottom:5px;
width:165px;background:transparent url(../../../images/helpcenter_01.gif) no-repeat scroll 0 100%;
}
.side h4 {
background:#FAF4D1 none repeat scroll 0 0;
border-bottom:1px solid #D6D0B1;
color:#4A4A4A;
height:26px;
line-height:26px;
padding-left:25px;
}
.side ul {
padding-bottom:5px;
padding-top:5px;
}
.side ul li {
background:transparent url(../../../images/helpcenter_icon.gif) no-repeat scroll 20px 5px;
height:20px;
line-height:20px;
overflow:hidden;
padding-left:32px;
}
.side {
border-left:1px solid #959595;
border-right:1px solid #959595;
}
.clearboth{clear:both}
.main .right{
float:right;
overflow:hidden;
width:1020px;}

.left .helpcenter{

height:29px;
line-height:300px;
overflow:hidden;
}
h2.helpcenter{
background:transparent url(../../../images/helpcenter.jpg) no-repeat scroll 0 0;}
.filter{margin-bottom:10px;}