<style type="text/css">
<!--
.eng {
	font-family: "Tahoma", "Lucida Console";
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.engtitle {
	font-family: "Tahoma", "Lucida Console";
	font-size: 11px;
	line-height: 25px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #0066CC;
	text-decoration: none;
}
.cntext {
	font-family: "Tahoma", "宋体";
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
	line-height: 22px;
}
a {
	font-size: 9pt;
	color: #3366CC;
	text-decoration: none;
}
a:hover {
	font-size: 9pt;
	color: #6699FF;
	text-decoration: none;
}
td {
	font-size: 9pt;
	text-decoration: none;
}
.red {color: #FF0000}
.eng1 {font-family: "Tahoma", "Lucida Console";
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
-->
</style>
<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right"><img src="http://image.babasport.com/global/logo.gif">  <hr align="left" width="100%"  color="#6699CC" size="1" noshade></td>
  </tr>
  <tr>
    <td><span class="cntext">尊敬的客户：${user.username}<br>
      &nbsp; &nbsp; &nbsp; &nbsp; 您好！感谢您对59124商城的信任与支持！<br>
      <br><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" >
       <tr> 
		 <td height="20">您的订单已经生成!订单号为${order.orderId}
      <hr size="1" color="#D2DDED" noshade></td></tr> </table>
  </tr>
        <tr> 
		 <td height="20">本电子邮件是由系统自动发送，如您有事需要询问或帮助，请与我们取得联系! 
      <hr size="1" color="#D2DDED" noshade></td></tr> </table>
  </tr>
  <tr> 
    <td height="20">
    <table width="95%" border="0" align="center" cellpadding="4" cellspacing="0" >
      <tr>
        <td colspan="4" align="right" valign="middle">
		<table width="95%" border="0" align="center" cellpadding="4" cellspacing="0" >
      <tr>
        <td colspan="4" align="right" valign="middle"></td>
        </tr>
      <tr>
        <td height="25" colspan="3"><strong>59124.com, Inc. </strong> 域名：<a href="http://mall.59124.com"><strong><font color="#FF0000">www.59124.com</font></strong></a> </td>
      </tr>
</table>		</td>
        </tr>
    </table>
    </td>
  </tr>
</table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="right"><hr align="left" width="100%"  color="#6699CC" size="1" noshade>
      <span class="eng"><strong>59124.COM, INC.</strong></span></td>
  </tr>
</table>